$acent-color1: #d2b356;
$acent-color2: #111111;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');
$font-default: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, -apple-system;


body {
    background: #fff
}

a,.la-ball-triangle-path {
    color: $acent-color1;
}

a:hover,#header.nav-solid nav a:hover {
    color: $acent-color1;
}

.icon i {
    color: $acent-color1;
}

#banner .section-heading:before,.testimonial.classic footer:before {
    background: $acent-color1;
}

.pricing-block-content:hover {
    border-color: $acent-color1;
}

#header nav a,#header i {
    color: $acent-color2;
}

#header.nav-solid,#header.nav-solid a,#header.nav-solid i,#nav-mobile ul li a {
    color: #333
}

#header.nav-solid .active {
    color: $acent-color1;
    border-color: $acent-color1;
}

.primary-color,.featured .pricing {
    background-color: $acent-color1;
}

.primary-color,.primary-color .section-title,.primary-color .section-subtitle,.featured .pricing,.featured .pricing p {
    color: #fff
}

.section-heading h2:after {
    background: $acent-color1;
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px
}

.text-center .section-heading h2:after {
    margin: 30px auto 25px
}

.primary-color .icon i,.primary-color i {
    color: #fff
}

.secondary-color {
    background-color: #f5f5f5
}

#banner {
    background: url("/NamariClone/img/banner-image-1.JPG") no-repeat center top;
    background-size: cover
}

body {
    font-family: $font-default
    font-size: 15px;
    font-weight: 400;
    color: $acent-color2;
}

#banner h1 {
    font-family: $main-font;
    font-size: 62px;
    line-height: 60px;
    font-weight: 800;
    color: $acent-color2;
}

#banner h2 {
    font-family: $main-font;
    font-size: 18px;
    font-weight: 300;
    color: $acent-color2;
}

.section-title {
    font-family: $main-font;
    font-size: 34px;
    font-weight: 700;
    color: $acent-color2;
}

.section-subtitle {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 300;
    color: #9c9c9c
}

.testimonial q {
    font-family: $main-font;
    font-size: 17px;
    font-weight: 300
}

.testimonial.classic q,.testimonial.classic footer {
    color: $acent-color2;
}

h1 {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 40px;
    font-weight: 300;
    color: $acent-color2;
}

h2 {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 34px;
    font-weight: 300;
    color: $acent-color2;
}

h3 {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 30px;
    font-weight: 700;
    color: $acent-color2;
}

h4 {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 18px;
    font-weight: 400;
    color: $acent-color2;
}

h5 {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 16px;
    font-weight: 400;
    color: $acent-color2;
}

h6 {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 14px;
    font-weight: 400;
    color: $acent-color2;
}

.button,input[type=submit] {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 14px;
    font-weight: 700;
    color: $acent-color2;
}

.button,input[type=submit] {
    border-color: $acent-color2;
}

.button:hover,input[type=submit]:hover {
    border-color: $acent-color1;
    color: $acent-color1;
}

#banner .button {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 16px;
    color: $acent-color2;
}

#banner .button {
    border-color: $acent-color2;
}

#banner .button:hover {
    color: $acent-color1;
    border-color: $acent-color1;
}

#landing-footer,#landing-footer p,#landing-footer a {
    font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 12px;
    font-weight: 400;
    color: #999
}

#landing-footer i {
    color: #999
}
